In [21]:
# Importación de librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### 1. Cargamos los datos del set de entrenamiento

In [22]:
df=pd.read_csv("../data/raw/Gold-Prices.csv")
df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
0,2019-11-11 00:00:00-05:00,137.610001,137.789993,136.440002,137.059998,7037300,0.0,0.0,0.0
1,2019-11-12 00:00:00-05:00,137.029999,137.589996,136.190002,137.429993,6448600,0.0,0.0,0.0
2,2019-11-13 00:00:00-05:00,137.800003,138.220001,137.639999,137.979996,8776000,0.0,0.0,0.0
3,2019-11-14 00:00:00-05:00,138.389999,138.940002,137.869995,138.559998,5220500,0.0,0.0,0.0
4,2019-11-15 00:00:00-05:00,138.029999,138.419998,137.970001,138.210007,10106700,0.0,0.0,0.0

### Exploratory Data Analysis (EDA)

In [24]:
df.columns # Visualización de columnas

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends',
       'Stock Splits', 'Capital Gains'],
      dtype='object')

In [25]:
# Obtener la información general del dataset y las primeras filas
data_info = df.info()
data_head = df.head()
data_description = df.describe()
data_null_values = df.isnull().sum()

data_info, data_head, data_description, data_null_values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1258 non-null   object
 1   Open           1258 non-null   float64
 2   High           1258 non-null   float64
 3   Low            1258 non-null   float64
 4   Close          1258 non-null   float64
 5   Volume         1258 non-null   int64
 6   Dividends      1258 non-null   float64
 7   Stock Splits   1258 non-null   float64
 8   Capital Gains  1258 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 88.6+ KB

(None,
                         Date        Open        High         Low       Close  \
 0  2019-11-11 00:00:00-05:00  137.610001  137.789993  136.440002  137.059998
 1  2019-11-12 00:00:00-05:00  137.029999  137.589996  136.190002  137.429993
 2  2019-11-13 00:00:00-05:00  137.800003  138.220001  137.639999  137.979996
 3  2019-11-14 00:00:00-05:00  138.389999  138.940002  137.869995  138.559998
 4  2019-11-15 00:00:00-05:00  138.029999  138.419998  137.970001  138.210007

      Volume  Dividends  Stock Splits  Capital Gains
 0   7037300        0.0           0.0            0.0
 1   6448600        0.0           0.0            0.0
 2   8776000        0.0           0.0            0.0
 3   5220500        0.0           0.0            0.0
 4  10106700        0.0           0.0            0.0  ,
               Open         High          Low        Close        Volume  \
 count  1258.000000  1258.000000  1258.000000  1258.000000  1.258000e+03
 mean    177.982234   178.766224   177.144762   177.986478  8.605847e+06
 std      22.490130    22.575668    22.377607    22.503454  4.859634e+06
 min     136.979996   137.210007   136.119995   137.009995  1.436500e+06
 25%     165.432499   166.215004   164.814999   165.419998  5.556475e+06
 50%     173.750000   174.460007   172.864998   173.750000  7.326000e+06
 75%     183.747501   184.417500   182.785004   183.669998  1.008325e+07
 max     256.760010   257.709991   255.910004   257.500000  4.734770e+07

        Dividends  Stock Splits  Capital Gains
 count     1258.0        1258.0         1258.0
 mean         0.0           0.0            0.0
 std          0.0           0.0            0.0
 min          0.0           0.0            0.0
 25%          0.0           0.0            0.0
 50%          0.0           0.0            0.0
 75%          0.0           0.0            0.0
 max          0.0           0.0            0.0  ,
 Date             0
 Open             0
 High             0
 Low              0
 Close            0
 Volume           0
 Dividends        0
 Stock Splits     0
 Capital Gains    0
 dtype: int64)

In [26]:
# Ver las primeras filas del dataset
print(df.tail())

# Información general del dataset

print(df.info())

# Estadísticas descriptivas
print(df.describe())

# Mediana de las columnas numéricas
print(df.median(numeric_only=True))

# Verificar valores nulos
print(df.isnull().sum())

                           Date        Open        High         Low  \
1253  2024-11-04 00:00:00-05:00  253.320007  253.580002  252.270004
1254  2024-11-05 00:00:00-05:00  253.779999  253.990005  252.410004
1255  2024-11-06 00:00:00-05:00  245.639999  247.350006  244.949997
1256  2024-11-07 00:00:00-05:00  248.289993  250.240005  248.119995
1257  2024-11-08 00:00:00-05:00  249.070007  249.350006  247.779999

           Close    Volume  Dividends  Stock Splits  Capital Gains
1253  252.830002   4581400        0.0           0.0            0.0
1254  253.399994   6029900        0.0           0.0            0.0
1255  245.699997  14600200        0.0           0.0            0.0
1256  249.649994   8821400        0.0           0.0            0.0
1257  247.960007   6166900        0.0           0.0            0.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1258 non-null   object
 1   Open           1258 non-null   float64
 2   High           1258 non-null   float64
 3   Low            1258 non-null   float64
 4   Close          1258 non-null   float64
 5   Volume         1258 non-null   int64
 6   Dividends      1258 non-null   float64
 7   Stock Splits   1258 non-null   float64
 8   Capital Gains  1258 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 88.6+ KB
None
              Open         High          Low        Close        Volume  \
count  1258.000000  1258.000000  1258.000000  1258.000000  1.258000e+03
mean    177.982234   178.766224   177.144762   177.986478  8.605847e+06
std      22.490130    22.575668    22.377607    22.503454  4.859634e+06
min     136.979996   137.210007   136.119995   137.009995  1.436500e+06
25%     165.432499   166.215004   164.814999   165.419998  5.556475e+06
50%     173.750000   174.460007   172.864998   173.750000  7.326000e+06
75%     183.747501   184.417500   182.785004   183.669998  1.008325e+07
max     256.760010   257.709991   255.910004   257.500000  4.734770e+07

       Dividends  Stock Splits  Capital Gains
count     1258.0        1258.0         1258.0
mean         0.0           0.0            0.0
std          0.0           0.0            0.0
min          0.0           0.0            0.0
25%          0.0           0.0            0.0
50%          0.0           0.0            0.0
75%          0.0           0.0            0.0
max          0.0           0.0            0.0
Open             1.737500e+02
High             1.744600e+02
Low              1.728650e+02
Close            1.737500e+02
Volume           7.326000e+06
Dividends        0.000000e+00
Stock Splits     0.000000e+00
Capital Gains    0.000000e+00
dtype: float64
Date             0
Open             0
High             0
Low              0
Close            0
Volume           0
Dividends        0
Stock Splits     0
Capital Gains    0
dtype: int64

In [27]:
# Nombre de las columnas

print(df.columns)

# Dimensiones del dataset
print(df.shape)

# Filas duplicadas
print(df.duplicated().sum())

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends',
       'Stock Splits', 'Capital Gains'],
      dtype='object')
(1258, 9)
0

In [30]:
pd.crosstab(df["Volume"],df["Volume"])

Volume,1436500,2445100,2620600,2672800,2711600,2819600,2824100,2857500,2864500,2912300,...,28660500,28687700,29800700,30876600,32726000,32893400,35177200,42699600,45355000,47347700
Volume,,,,,,,,,,,,,,,,,,,,,
1436500,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2445100,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2620600,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2672800,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2711600,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32893400,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
35177200,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
42699600,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
45355000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
47347700,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1