In [22]:
# Importación de librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### 1. Cargamos los datos del set de entrenamiento

In [24]:
dataset=pd.read_csv("../data/raw/Gold-Prices.csv")
dataset.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
0,2019-11-11 00:00:00-05:00,137.610001,137.789993,136.440002,137.059998,7037300,0.0,0.0,0.0
1,2019-11-12 00:00:00-05:00,137.029999,137.589996,136.190002,137.429993,6448600,0.0,0.0,0.0
2,2019-11-13 00:00:00-05:00,137.800003,138.220001,137.639999,137.979996,8776000,0.0,0.0,0.0
3,2019-11-14 00:00:00-05:00,138.389999,138.940002,137.869995,138.559998,5220500,0.0,0.0,0.0
4,2019-11-15 00:00:00-05:00,138.029999,138.419998,137.970001,138.210007,10106700,0.0,0.0,0.0

In [25]:
dataset.columns # Visualización de columnas

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends',
       'Stock Splits', 'Capital Gains'],
      dtype='object')

In [26]:
dataset.drop(['Dividends','Stock Splits','Capital Gains'],axis=1, inplace=True)
dataset.head()

,Date,Open,High,Low,Close,Volume
0,2019-11-11 00:00:00-05:00,137.610001,137.789993,136.440002,137.059998,7037300
1,2019-11-12 00:00:00-05:00,137.029999,137.589996,136.190002,137.429993,6448600
2,2019-11-13 00:00:00-05:00,137.800003,138.220001,137.639999,137.979996,8776000
3,2019-11-14 00:00:00-05:00,138.389999,138.940002,137.869995,138.559998,5220500
4,2019-11-15 00:00:00-05:00,138.029999,138.419998,137.970001,138.210007,10106700

### 2. Porcentaje de nulos### 2. Porcentaje de nulos

In [27]:
dataset.isnull().mean()

Date      0.0
Open      0.0
High      0.0
Low       0.0
Close     0.0
Volume    0.0
dtype: float64

### No existen datos faltantes o nulos

### Imputamos la media en la columna amt

In [28]:
media_age= dataset['Volume'].mean()
media_age

np.float64(8605847.217806041)

In [29]:
media_age= dataset['Volume'].mean()
dataset['Volume']=dataset['Volume'].fillna(media_age).astype(int)

### Imputamos la media en la columna Volume

In [30]:
dataset['Volume'].value_counts()

Volume
6840500    2
8369000    2
8451900    2
5802000    2
5389300    2
          ..
5789500    1
3922900    1
5640800    1
5431900    1
5176200    1
Name: count, Length: 1251, dtype: int64

In [31]:
# Convertir 'Date' a formato datetime en UTC
dataset['Date'] = pd.to_datetime(dataset['Date'], utc=True)

In [32]:
# Convertir 'Date' a formato datetime sin zona horaria
dataset['Date'] = pd.to_datetime(dataset['Date']).dt.tz_localize(None)

In [33]:
# Extraer año, mes, día y hora en columnas separadas
dataset['year'] = dataset['Date'].dt.year
dataset['month'] = dataset['Date'].dt.month
dataset['day'] = dataset['Date'].dt.day
dataset['hour'] = dataset['Date'].dt.hour

In [34]:
print(dataset['Date'].head())

0   2019-11-11 05:00:00
1   2019-11-12 05:00:00
2   2019-11-13 05:00:00
3   2019-11-14 05:00:00
4   2019-11-15 05:00:00
Name: Date, dtype: datetime64[ns]

In [35]:
dataset.head()

,Date,Open,High,Low,Close,Volume,year,month,day,hour
0,2019-11-11 05:00:00,137.610001,137.789993,136.440002,137.059998,7037300,2019,11,11,5
1,2019-11-12 05:00:00,137.029999,137.589996,136.190002,137.429993,6448600,2019,11,12,5
2,2019-11-13 05:00:00,137.800003,138.220001,137.639999,137.979996,8776000,2019,11,13,5
3,2019-11-14 05:00:00,138.389999,138.940002,137.869995,138.559998,5220500,2019,11,14,5
4,2019-11-15 05:00:00,138.029999,138.419998,137.970001,138.210007,10106700,2019,11,15,5

In [36]:
dataset['Date'].value_counts()

Date
2024-11-08 05:00:00    1
2019-11-11 05:00:00    1
2019-11-12 05:00:00    1
2019-11-13 05:00:00    1
2019-11-14 05:00:00    1
                      ..
2019-12-02 05:00:00    1
2019-11-29 05:00:00    1
2019-11-27 05:00:00    1
2019-11-26 05:00:00    1
2019-11-25 05:00:00    1
Name: count, Length: 1258, dtype: int64

In [37]:
dataset['Open'].value_counts()

Open
175.830002    5
178.369995    4
165.889999    3
166.919998    3
167.880005    3
             ..
244.500000    1
245.160004    1
244.990005    1
247.619995    1
247.750000    1
Name: count, Length: 1116, dtype: int64

In [38]:
dataset['High'].value_counts()

High
166.809998    3
167.529999    3
161.619995    3
163.429993    3
169.160004    3
             ..
245.860001    1
245.919998    1
243.020004    1
241.839996    1
139.570007    1
Name: count, Length: 1111, dtype: int64

In [39]:
dataset['Low'].value_counts()

Low
168.520004    4
168.300003    3
161.360001    3
166.860001    3
167.149994    3
             ..
244.470001    1
244.259995    1
244.529999    1
246.360001    1
247.779999    1
Name: count, Length: 1118, dtype: int64

In [40]:
dataset['Close'].value_counts()

Close
178.639999    4
163.919998    3
172.610001    3
176.350006    3
172.580002    3
             ..
245.470001    1
245.070007    1
245.919998    1
247.149994    1
247.960007    1
Name: count, Length: 1124, dtype: int64

In [41]:
dataset['Volume'].value_counts()

Volume
6840500    2
8369000    2
8451900    2
5802000    2
5389300    2
          ..
5789500    1
3922900    1
5640800    1
5431900    1
5176200    1
Name: count, Length: 1251, dtype: int64

In [42]:
dataset['year'].value_counts()

year
2020    253
2021    252
2022    251
2023    250
2024    217
2019     35
Name: count, dtype: int64

In [43]:
dataset['month'].value_counts()

month
8     111
3     111
10    109
12    106
7     105
6     105
5     105
11    103
4     103
9     103
1     101
2      96
Name: count, dtype: int64

In [44]:
dataset['day'].value_counts()

day
22    44
8     44
14    43
9     43
13    43
12    42
27    42
6     42
23    42
28    42
16    42
3     42
10    42
21    42
11    42
7     41
1     41
17    41
24    41
18    41
15    41
20    40
2     40
5     40
26    40
19    39
29    39
30    38
4     38
25    37
31    24
Name: count, dtype: int64

In [45]:
dataset['hour'].value_counts()

hour
4    827
5    431
Name: count, dtype: int64

In [46]:
dataset.head()

,Date,Open,High,Low,Close,Volume,year,month,day,hour
0,2019-11-11 05:00:00,137.610001,137.789993,136.440002,137.059998,7037300,2019,11,11,5
1,2019-11-12 05:00:00,137.029999,137.589996,136.190002,137.429993,6448600,2019,11,12,5
2,2019-11-13 05:00:00,137.800003,138.220001,137.639999,137.979996,8776000,2019,11,13,5
3,2019-11-14 05:00:00,138.389999,138.940002,137.869995,138.559998,5220500,2019,11,14,5
4,2019-11-15 05:00:00,138.029999,138.419998,137.970001,138.210007,10106700,2019,11,15,5

### Eliminados la columna Date

In [47]:
dataset.drop(['Date'], axis=1, inplace=True)

In [48]:
dataset.head()

,Open,High,Low,Close,Volume,year,month,day,hour
0,137.610001,137.789993,136.440002,137.059998,7037300,2019,11,11,5
1,137.029999,137.589996,136.190002,137.429993,6448600,2019,11,12,5
2,137.800003,138.220001,137.639999,137.979996,8776000,2019,11,13,5
3,138.389999,138.940002,137.869995,138.559998,5220500,2019,11,14,5
4,138.029999,138.419998,137.970001,138.210007,10106700,2019,11,15,5

### 4. Estandarización de Variables

In [49]:
from sklearn.preprocessing import MinMaxScaler

In [50]:
mm_scaler = MinMaxScaler()

X= dataset.drop('Volume', axis=1)
scaled_feature= mm_scaler.fit_transform(X)
scaled_df=pd.DataFrame(scaled_feature,columns=X.columns)

In [51]:
scaled_df['Volume']=dataset['Volume']
scaled_df.head()

,Open,High,Low,Close,year,month,day,hour,Volume
0,0.005260,0.004813,0.002671,0.000415,0.0,0.909091,0.333333,1.0,7037300
1,0.000417,0.003153,0.000584,0.003486,0.0,0.909091,0.366667,1.0,6448600
2,0.006846,0.008382,0.012689,0.008050,0.0,0.909091,0.400000,1.0,8776000
3,0.011772,0.014357,0.014609,0.012864,0.0,0.909091,0.433333,1.0,5220500
4,0.008766,0.010041,0.015444,0.009959,0.0,0.909091,0.466667,1.0,10106700

In [52]:
scaled_df.to_csv('../data/processed/features_for_model.csv')